*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 30px;
	user-select: none;
}
body{
	background-image: linear-gradient(45deg,#ecd7d3,#dad3d2);
}
nav{
	text-align: center;
	font-family: cursive;
	color: #915b5b;
}
#iconeMenu{
	display: block;
	font-size: 1.5em;
}

#conteudo{
	margin: 10px;
	text-align: center;

}
.cards{
	position: relative;
	height: 150px;
	border-radius: 5px;
	margin: 20px 10px;
	background-color: white;
	box-shadow: 0px 2px 3px silver;
	display: block;
	transition: transform 0.3s;
}
.eventos{
	margin: 10px;
	border-radius: 5px;
	height: 150px;
	box-shadow: 0px 2px 5px silver;
	background-color: white;
}
.card{
	font-size: 0.7em;
	text-align: left;
	padding: 10px;
	background-color: #a35564;
	border-radius: 2px;
	box-shadow: 0px 5px 4px silver;
	transition: 1s;
	margin-top: 20px;

}
.card i{
	margin-top: 10px;
	font-size: 1.1em;
}
.card span{
	position: relative;
	top:-5px;
	font-size: 1.1em;
	margin-left: 10px;

}
.produtos{
	text-decoration: none;
	font-size: 0.6em;
	text-align: left;
	font-weight: 500;
	font-style: italic;
	padding: 10px;
	transition: 0.3s;
	background-color: rgba(163, 85, 100, 0.5);
	box-shadow: 0px 2px 3px silver;
}
.produtos span{
	font-size: 1em;
	float: right;
}
/* Classes de personalização dos detalhes dos produtos*/
.detalhes{
	position: relative;
	transform: scale(1.025);
	box-shadow: 0px 2px 5px rgba(0,0, 0, 0.4);
	transition: 0.3s;
	height: 70px;
}
.detalhes .detalhesProdutos span{
	position: absolute;
	bottom: 5px;
	left: 10px;
}
.detalhesProdutos{
	font-size: 0.8em;
	margin: 5px;
}
.irProdutos{
	float: right;
}
.irProdutos i{
	padding-left: 20px;
	text-align: right;
	transform: scaleX(-1);
}
.irProdutos i::after{
	clear: both;
}

/*Personalização da ul*/
#lista{
	transition: 1s;
}
/*Abrir a lista dos menus*/
.abreLista{
	float: right;
	transition: 0.5s;
	font-size: 1.5em;
}
.abreLista i{
	font-size: 1.5em;
}
.cardOff{
	display: none;
}


/*Float Button*/
#btnBuscar{
	position: fixed;
	font-size: 1.2em;
	bottom: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	background-color: #915b5b;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
	border: none;
	color: white;
}


/*Pagina Admin*/

#menuAdmin{
	background-color: #915b5b;
	box-shadow: 0px 3px 5px silver;

}

#menuAdmin span{
	color: white;
	font-size: 1em;
}
#navBar{
	font-size: 1em;
	background-color: #915b5b;
}


