*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 30px;
	user-select: none;
}
body{
	background-color: #dbcdcb;
}
nav{
	text-align: center;
	font-family: cursive;
	color: #915b5b;
}
#iconeMenu{
	display: block;
	font-size: 1.5em;
}

#conteudo{
	margin: 10px;
	text-align: center;

}
.cards{
	position: relative;
	height: 150px;
	border-radius: 5px;
	margin: 20px 10px;
	background-color: white;
	box-shadow: 0px 2px 3px silver;
	display: block;
	transition: transform 0.3s;
}
.eventos{
	margin: 10px;
	border-radius: 5px;
	height: 150px;
	box-shadow: 0px 2px 5px silver;
	background-color: white;
}
.card{
	font-size: 0.7em;
	text-align: left;
	padding: 10px;
	background-color: #a35564;
	border-radius: 2px;
	box-shadow: 0px 5px 4px silver;
	transition: 1s;
	margin-top: 20px;

}
.card i{
	margin-top: 10px;
	font-size: 1.1em;
}
.card span{
	position: relative;
	top:-5px;
	font-size: 1.1em;
	margin-left: 10px;

}
.produtos{
	text-decoration: none;
	font-size: 0.6em;
	text-align: left;
	font-weight: 500;
	font-style: italic;
	padding: 10px;
	transition: 0.3s;
	background-color: rgba(163, 85, 100, 0.5);
	box-shadow: 0px 2px 3px silver;
}
.produtos span{
	font-size: 1em;
	float: right;
}
/* Classes de personalização dos detalhes dos produtos*/
.detalhes{
	position: relative;
	transform: scale(1.025);
	box-shadow: 0px 2px 5px rgba(0,0, 0, 0.4);
	transition: 0.3s;
	height: 70px;
}
.detalhes .detalhesProdutos span{
	position: absolute;
	bottom: 5px;
	left: 10px;
}
.detalhesProdutos{
	font-size: 0.8em;
	margin: 5px;
}
.irProdutos{
	float: right;
}
.irProdutos i{
	padding-left: 20px;
	text-align: right;
	transform: scaleX(-1);
}
.irProdutos i::after{
	clear: both;
}

/*Personalização da ul*/
#lista{
	transition: 1s;
}
/*Abrir a lista dos menus*/
.abreLista{
	float: right;
	transition: 0.5s;
	font-size: 1.5em;
}
.abreLista i{
	font-size: 1.5em;
}
/*Personalização da pagina admin*/

#menuAdmin{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #915b5b;
	font-size: 1em;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	z-index: 99;
}
#menuAdmin span{
	color: white;
}
.estatisticas{
	position: relative;
	text-align: left;
	top: 60px;
	left: 0px;
}
.estatisticas span{
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.5);
}
.listaEstatisticas{
	position: relative;
	top: 60px;
	left: 0px;
	text-align: left;
	color: rgba(0, 0, 0, 0.4);
}
.listaEstatisticas div{
	font-size: 0.8em;
	margin: 5px 0px;
	color: rgba(0, 0, 0, 0.4);
}
.listaEstatisticas span{
	font-size: 0.8em;
	float: right;
	position: relative;
	top: 5px;
	color: rgba(0, 0, 0, 0.6);
}

#containerCadastro{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2000;
}
#cadastroProdutos{
	position: relative;
	background-color: white;
	top: -20px;
	height: 400px;
	width: 300px;
	border-radius: 5px;
}
#cadastroProdutos form{
	position: absolute;
	width: 80%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 0.7em;
	padding: 10px;
}
#cadastroProdutos h3{
	margin: 0px;
	padding: 0px;
	color: rgba(0, 0, 0, 0.8);
}
#cadastroProdutos input{
	outline:none;
	font-size: 0.9em;
	margin: 10px 0px;
	padding: 5px;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.5);
	max-width: 200px;
	border-radius: 3px;

}
#cadastroProdutos input[type='submit']{
	position: absolute;
	bottom: 0;
	color: rgba(255,255, 255, 1);
	text-transform: uppercase;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-size: 0.8em;
	background-color: lightseagreen;
	width: 100%;
	padding: 5px auto;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
}
#cadastroProdutos select{
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.7);
	margin-top: 10px;
}
#btnFechar{
	position: absolute;
	width: 40px;
	height: 40px;
	display: flex;
	top: -10px;
	right: -10px;
	background-color: white;
	border: 2px solid rgba(0, 0, 0, 0.9);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}



/*Float Button*/
#btnBuscar{
	position: fixed;
	font-size: 1.2em;
	bottom: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	text-align: center;
	background-color: #915b5b;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
	border: none;
	color: white;
}
#floatAdd{
	position: fixed;
	bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 15px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	background-color: #a35564;
	color: rgba(255, 255, 255, 0.8);
	z-index: 1000;
}
#floatAdd i{
	font-size: 1.2em;
	font-weight: 400;
}