*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}
body{
    background-color: #e7d7c8;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #cfb5a2;
	box-shadow: 0px 0px 3px 1px #786e61;
	line-height: 50px;
	z-index: 200;
	
}
table{
	display: block;
	position: relative;
}

td{
	padding: 10px;
	text-align: left;
	font-size: 1.4em;
}
nav > span{
	color: #582e28;
	font-family: "Parisienne", cursive;
	font-weight: 800;
	font-size: 3em;
}

.line{
	position: relative;
	display: block;
	overflow: auto;
	padding: 10px 0px;
	color: #582e28;
	border-bottom: 2px dashed #582e28;
}

.line .produto{
	text-align: left;
	float: left;
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 2px;
}
.line .preco{
	text-align: right;
	float: right;
	font-size: 1.5em;
	letter-spacing: 1px;
}
#menus{
	text-align: center;
	background-color: rgba(139, 84, 84, 1);
	border-radius: 2px;
	height: 50px;
	line-height: 50px;
	margin: 0px 10px;
}
#menus span{
	color: white;
	font-family: monospace, cursive;
	font-size: 2em;
	font-weight: 500;
}
#produtos{
	font-size: 0.5em;
	display: block;
	margin: 0px 10px;
	text-align: center;
}
#conteudo{
	position: relative;
	top: 60px;
	left: 0px;
}
